
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg.jpg");
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: "Martel Sans", serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero> :first-child{
    font-family: "Poppins", serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(43, 41, 41);
}
.btn{
    padding: 7px 24px;
    font-weight: 500;
    border: 1px solid rgba(140, 139, 139, 0.4);
    cursor: pointer;
    border-radius: 8px;
    color: white;
}
.btn-red{
    background-color: red;
    padding: 15px 24px;
}
.btn-red-sm{
    background-color: red;
}
.main input{
    background-color: rgba(23, 23, 23, 0.4);
    padding: 15px 24px;
    border: 1px solid rgba(140, 139, 139, 0.4);
    border-radius: 8px;
    color: white;
}
.btn-eng{
    background-color: rgba(23, 23, 23, 0.4);
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-size: 15px;
}
.secImg{
    position: relative;
}
.secImg Img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
.first > div {
    display: flex;
    flex-direction: column;
    font-size: 31px;
    font-weight: bolder;
    padding: 34px 0;
}
.first > div :nth-child(2){
    font-size: 15px;
}
.faq h2{
    text-align: center;
    font-size: 40px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faqbox:hover {
    background-color: #414141;
    color: white;
}
.faqbox{
    transition: all 1s ease-out;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 15px 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}
footer .questions{
    padding: 34px 0;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}